@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

// color
:root{
    --bg-main: white;
    --bg-todo: white;
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --text-color: hsl(235, 21%, 11%);
    --shadow: hsl(234, 39%, 85%);
}

.dark {
    --bg-main: hsl(235, 21%, 11%);
    --bg-todo: hsl(235, 24%, 19%);
    --text-color: white;
    --shadow: hsl(234, 25%, 22%);
}
body {
    font-family: 'Josefin Sans', sans-serif;
}

.main {
    min-height: 100vh;
    position: relative;
    background-color: var(--bg-main);
    .top {
        background-image: url(../images/bg-mobile-dark.jpg);
        height: 40vh;
        background-size: cover;
        position: relative;
        @media (min-width: 992px) {
            background-image: url(../images/bg-desktop-dark.jpg);
        }
    }
    .todo-main {
        position: absolute;
        width: 100%;
        top: 0;
        @media (min-width: 992px) {
            top: 5%;
            width: 40%;
            left: 30%;
        }
        .title {
            position: relative;
            h1 {
                font-size: 2rem;
                letter-spacing: 7px;
            }
            .theme {
                position: absolute;
                top: 6px;
                right: 0;
                cursor: pointer;
            }
        }
        .add-todo {
            position: relative;
            input {
                width: 100%;
                padding: 10px 12px;
                border: none;
                outline: none;
                border-radius: 5px;
                box-sizing: border-box;
                background-color: var(--bg-todo);
                color: var(--text-color);
            }
            i {
                position: absolute;
                top: 7px;
                right: 15px;
                font-size: 1.5rem;
                color: var(--dark-grayish-blue);
                cursor: pointer;
                &:hover {
                    color: var(--light-grayish-blue);
                }
            }
        }
        .todo-list-wrapper {
            max-height: 350px;
            overflow: auto;
            background: transparent;
            box-shadow: 2px 2px 10px var(--shadow);
            border-radius: 8px;
            .todo-item {
                background-color: var(--bg-todo);
                width: 100%;
                height: 55px;
                border: none;
                outline: none;
                color: var(--text-color);
                border-bottom: 1px solid var(--dark-grayish-blue);
                position: relative;
                i {
                    cursor: pointer;
                    font-size: 20px;
                    color: #50CB93;
                }
                i.check {
                    position: absolute;
                    padding-left:5px;
                    left: 5px;
                    top:15px;
                }
                i.delete {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
                p.text {
                    position: absolute;
                    top: 15px;
                    left: 40px;
                }
            }
        }
    }
}

.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}